* {
    margin: 0;
    padding: 0;
    line-height: 1.8;
    color: #596981;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 2em;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.cover-content {
    padding: 55px;
    text-align: center;
}

.cover-content:first-of-type {
    flex-basis: 420px;
    align-self: center;
}

.cover-heading {
    width: 320px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.cover-heading > h1 {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.dev-title {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.cover-content hr {
    width: 65%;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    margin: 55px auto;
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 1px solid #ddd;
}
